[submodule "msvd/cider"]
	path = msvd/cider
	url = https://github.com/plsang/cider.git
[submodule "msvd/coco-caption"]
	path = msvd/coco-caption
	url = https://github.com/tylin/coco-caption.git
[submodule "msrvtt/cider"]
	path = msrvtt/cider
	url = https://github.com/plsang/cider.git
[submodule "msrvtt/coco-caption"]
	path = msrvtt/coco-caption
	url = https://github.com/tylin/coco-caption.git
